<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<script src="https://unpkg.com/vue"></script>
	</head>
<body>
<ul id="example1">
	<li v-for="item in items">
	{{item.message}}
	</li>
</ul>

<ul id="example2">
	<li v-for="(item , index) in items ">
		{{ parentMessage }}-{{ index }}-{{ item.message }}
	</li>
</ul>

<ul id="repeat-object">
	<li v-for="value in object">
		{{value}}
	</li>
</ul>
<div id="example3">
	<div v-for="(value , key) in object">
		{{ key }} : {{ value }}
	</div>
</div>

<div id="example4">
	<div v-for="(value , key , index) in object">
		{{index+1}}.  {{key}}:{{value}}
	</div>
</div>

<div id="example5">
	<span v-for="n in 10">{{ n }} </span>
</div>

<ul id="example6">
	<li v-for="todo in todos" v-if="!todo.isComplete">
  		{{ todo.value }}
	</li>
</ul>

<ul id="example7" v-if="shouldRenderTodos">
	<li v-for="todo in todos">
		{{todo }}
	</li>
</ul>
<script type="text/javascript">
var example1 = new Vue({
	el:'#example1',
	data:{
		items:[
			{
				message:'Foo'
			},
			{
				message:'Bar'
			}
		]
	}
});

var example2 = new Vue({
	el:'#example2',
	data:{
		parentMessage:'Parent',
		items:[
			{message:'FFF'},
			{message:'bbb'}
		]
	}
});

var repeatObject = new Vue({
	el:'#repeat-object',
	data:{
		object:{
			firstName:'John',
			lastName:'Doe',
			age:30
		}
	}
});

var example3 = new Vue({
	el:'#example3',
	data:{
		object:{
			Name:'baiJiaHao',
			Age:24,
			Sex:'boy'
		}
	}
});

var example4 = new Vue({
	el:'#example4',
	data:{
		object:{
			Name:'baiJiaHao',
			Age:24,
			Sex:'boy'
		}
	}
});

var example5 = new Vue({
	el:'#example5'
});

var example6 = new Vue({
	el:'#example6',
	data:{
		todos:[
			{
				value:1,
				isComplete:false
			},
			{
				value:2,
				isComplete:false
			},
			{
				value:3,
				isComplete:true
			}
		]		
	}
});

var example7 = new Vue({
	el:'#example7',
	data:{
		shouldRenderTodos:true,//值为false则该ul消失
		todos:[
			1,2,3
		]
	}
});

</script>
</body>
</html>
