<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>index</title>
		<script src="https://unpkg.com/vue"></script>
	</head>
<body>
<ul id="example1">
	<li v-for="item in items">
	{{item.message}}
	</li>
</ul>

<ul id="example2">
	<li v-for="(item , index) in items ">
		{{ parentMessage }}-{{ index }}-{{ item.message }}
	</li>
</ul>

<ul id="repeat-object">
	<li v-for="value in object">
		{{value}}
	</li>
</ul>
<div id="example3">
	<div v-for="(value , key) in object">
		{{ key }} : {{ value }}
	</div>
</div>
<script type="text/javascript">
var example1 = new Vue({
	el:'#example1',
	data:{
		items:[
			{
				message:'Foo'
			},
			{
				message:'Bar'
			}
		]
	}
});
var example2 = new Vue({
	el:'#example2',
	data:{
		parentMessage:'Parent',
		items:[
			{message:'FFF'},
			{message:'bbb'}
		]
	}
});

var repeatObject = new Vue({
el:'#repeat-object',
	data:{
		object:{
			firstName:'John',
			lastName:'Doe',
			age:30
		}
	}
});

var example3 = new Vue({
	el:'#example3',
	data:{
		object:{
			Name:'baiJiaHao',
			Age:24,
			Sex:'boy'
		}
	}
});
</script>
</body>
</html>
